.feature-item{
    padding-bottom: 2.5rem;
  
    @mixin atSmall{
         position: relative;
        padding-left: 94px;
    }
    
    &__icon{
        display: block;
        margin:0 auto;
       
        @mixin atSmall{
            position: absolute;
        left: 0;
        }
    }
    &__title{
       margin-bottom: .5rem;
        margin-top: .7rem;
        font-size: 1.5rem;
        font-weight: 300;
        text-align: center;
        @mixin atSmall{
        margin-top: 1rem;
        margin: 0 0 .8rem 0;
        font-size: 1.875rem;    
    }
    }

}